
.yui3-skin-sam .layout-designer-target-start {
    background-color    : #cdf;
}

.yui3-skin-sam .layout-designer-target-vertical {
    background-color    : #cdf;
}

.yui3-skin-sam .layout-designer-target-horizontal {
    background-color    : #cdf;
}

.yui3-skin-sam .layout-designer-target-action-column {
    background :  #cdf url('kuba-layout-add-vertical-25.png') no-repeat center center;
}

.yui3-skin-sam .layout-designer-target-action-row {
    background :  #cdf url('kuba-layout-add-horizontal-25.png') no-repeat center center;
}

.yui3-skin-sam .layout-designer-target-action-image {
    background :  #cdf url('kuba-add-image-25.png') no-repeat center center;
}

.yui3-skin-sam .layout-designer-target-action-text {
    background :  #cdf url('kuba-add-text-25.png') no-repeat center center;
}

.yui3-skin-sam .layout-designer-target-action-remove {
    background :  #cdf url('kuba-delete-simple-25.png') no-repeat center center;
}

