
.bewype-picker-font-size {
}

.bewype-picker-font-size table {
    border-collapse: collapse;
}

.bewype-picker-font-size table,
.bewype-picker-font-size td {
    margin  : 0;
    padding : 0;
    width   : 100%;
}

.bewype-picker-font-size td {
    text-align     : right;
    vertical-align : middle;
}

.bewype-picker-font-size td:hover {
    cursor           : pointer;
}

.bewype-picker-font-size-row {
}


