
.bewype-picker-title {
}

.bewype-picker-title table {
    border-collapse: collapse;
}

.bewype-picker-title table,
.bewype-picker-title td {
    margin  : 0;
    padding : 0;
    width   : 100%;
}

.bewype-picker-title td {
    text-align     : right;
    vertical-align : middle;
}

.bewype-picker-title td:hover {
    cursor           : pointer;
}

.bewype-picker-title-row {
}

