
.bewype-picker-text-align {
}

.bewype-picker-text-align table {
    border-collapse: collapse;
}

.bewype-picker-text-align table,
.bewype-picker-text-align td {
    margin  : 0;
    padding : 0;
    width   : 100%;
}

.bewype-picker-text-align td {
    vertical-align : middle;
}

.bewype-picker-text-align td:hover {
    cursor           : pointer;
}

.bewype-picker-text-align-row {
}

