
.bewype-picker-file {
}

.bewype-picker-file table {
    width          : 100%;
}

.bewype-picker-file table,
.bewype-picker-file td {
}

.bewype-picker-file td {
    padding        : 8px 8px;
    text-align     : center;
    vertical-align : middle;
}

.bewype-picker-file input {
    margin         : 0 auto;
    width          : 100%;
}

