
.bewype-picker-base {
}

.bewype-picker-base table {
    border-collapse: collapse;
}

.bewype-picker-base table,
.bewype-picker-base td {
    margin  : 0;
    padding : 0;
    width   : 100%;
}

.bewype-picker-base td {
    text-align     : left;
    vertical-align : middle;
}

.bewype-picker-base td:hover {
    cursor           : pointer;
}

.bewype-picker-base-row {
}

