
.yui3-picker-font-size {
    border      : 1px solid #888;
    font-family : Arial, Helvetica, sans-serif;
    font-size   : 0.875em;
    width       : 64px;
}

.yui3-picker-font-size table {
    border-collapse: collapse;
}

.yui3-picker-font-size table,
.yui3-picker-font-size td {
    margin  : 0;
    padding : 0;
    width   : 100%;
}

.yui3-picker-font-size td {
    padding        : 2px 4px;
    text-align     : right;
    vertical-align : middle;
}

.yui3-picker-font-size td:hover {
    background-color : #ddd;
    cursor           : pointer;
}

.yui3-picker-font-size-row {
}


