
.layout-designer-content {
    border: 1px dashed grey;
}

.layout-designer-content-clone {
    background-color    : grey;
    opacity             : 0.4;
    border              : 1px dashed transparent;
}

.layout-designer-content-clone:hover {
    background-color    : grey;
    opacity             : 0.4;
}

.layout-designer-content-clone-callbacks {
    margin              : auto;
    height              : 20px;
    width               : 60px;
    float               : right;
}

.layout-designer-content-clone-drag {
    background-color    : green;
    height              : 20px;
    width               : 20px;
    float               : left;
}

.layout-designer-content-clone-edit {
    background-color    : blue;
    height              : 20px;
    width               : 20px;
    float               : left;
}

.layout-designer-content-clone-remove {
    background-color    : red;
    height              : 20px;
    width               : 20px;
    float               : left;
}

