
.layout-designer-target {
    display             : block;
}

.layout-designer-target-start {
    background-color    :  #eea;
}

.layout-designer-target-horizontal {
    background-color    :  #eae;
}

.layout-designer-target-vertical {
    width               : 100%;
    background-color    : #aee;
}

.layout-designer-target-remove {
    background-color    : red;
    height              : 20px;
    width               : 20px;
    float               : right;
    opacity             : 0.4;
}

