
.yui3-buttonpicker-content {
    position        : relative;
}

.bewype-button-picker {
    margin          : auto;
    text-align      : center;
}

.bewype-button-picker:hover {
    cursor          : pointer;
}

.bewype-button-picker-label {
    margin          : auto;
}

.bewype-button-picker-host {
    position        : absolute;
    z-index         : 8;
}

