
.yui3-button-base {
    margin           : auto;
    text-align       : center;
}

.yui3-button-base:hover {
    cursor           : pointer;
}

.yui3-button-base-label {
    margin : auto;
}

